* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body.login-page {
    width: 100vw;
    height: 100vh;
    background: url("../assets/back_car.gif") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}

.form-group input {
    width: 100%;
    padding: 15px 10px 15px 35px;
    font-size: 1em;
    background: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    transition: 0.3s;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    transition: 0.3s;
}

input:focus ~ label,
input:valid ~ label {
    top: -10px;
    font-size: 0.8em;
    color: #e6e6e6;
}

.form-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1.2em;
}

p {
    color: hsl(0, 0%, 100%);
    margin: 10px 0;
}

p a {
    color:hsl(0, 0%, 100%);
    font-weight: 600;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

#btn {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #040505;
    background-color: hsl(0, 0%, 96%);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#btn:hover {
    background-color: #79c5fc;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 15px;
    }
}


